*,
::after,
::before {
    box-sizing: border-box;
}

*:focus {
  outline: 0;
}

a {
  text-decoration: none;
}

body {
  line-height: 1.2;
  overflow: auto;
}

.st-header {
  padding: 20px 0;
  text-align: center;
}

.st-border-dark {
  border: 1px solid #000;
}

.st-border-grey {
  border: 1px solid #ccc;
}

.st-flex {
  display: flex;
}
